*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #3f4041;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 3rem;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(184, 100%, 37%);
}

.card {
  background-color: hsl(184, 100%, 37%);
  border-radius: 25px;
  border-width: 3px;
  box-shadow: rgba(0, 1, 2, 0.15) 2px 4px 8px 2px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.characater-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 3rem;
}

label {
  font-weight: bold;
}

.password-display {
  background-color: whitesmoke;
  color: black;
  padding: 1rem;
  border: transparent;
  height: 2rem;
  width: 25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;   
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;  
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
  display: flex;
  flex-direction: column;	
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(175, 8, 58);
  border-radius: 30px;
  box-shadow: rgba(7, 3, 1, 0.1) 6px 8px 16px 8px rgba(0, 0, 0, 0.2) 6px 8px 16px 8px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 25px;
  margin: 16px 16px 16px 20px;
  text-align: center;
  cursor: pointer;
  grid-column: span 2;
  padding: .75rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;	
  row-gap: 1rem;
  column-gap: 3rem;
}

.btn:hover {
  background-color: #01745b;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#passwordDisplay {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 85px;
  padding-bottom: 85px;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  row-gap: 1rem;
  column-gap: 3rem;
  grid-column: span 2;
  flex-direction: column;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
}}

  

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
